@import "semantic-ui";

.chatbox {
  height: 450px;
}
//https://i.pinimg.com/564x/94/8b/3d/948b3de8462265d7e76117557c533ffa.jpg
//https://i.pinimg.com/564x/8b/58/5f/8b585fb4a5c9fedbb899cfb0cf0331a7.jpg
.strana {
  //background-image: url("https://i.pinimg.com/564x/94/8b/3d/948b3de8462265d7e76117557c533ffa.jpg");
  background-image: url("https://i.pinimg.com/564x/fe/44/1a/fe441a09e4cf59c0d96a9a6e03b76f3c.jpg");
  //background-image: url("https://telegram.org/file/464001326/1/eHuBKzF9Lh4.288899/1f135a074a169f90e5");
  // background-size: cover;
  //background-color: black;
}

#poruke {
  height: 16em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}
